@using RazorEngine.Templating
@inherits System.Web.WebPages.WebPage
@if (@Model.Languages.Count > 0)
{
    <div class="vj_language_wrapper">
        <label for="language" class="sr-only"></label>
        <select id="language" name="language" class="select_language" onchange="vjselectlanguage()">
            @foreach (var Language in Model.Languages)
            {
                if (Language.Code == Model.SelectedLanguage)
                {
                    <option url="@Language.URL" selected value="@Language.NativeName">
                        @Language.NativeName
                    </option>
                }
                else
                {
                    <option url="@Language.URL" value="@Language.NativeName">
                        @Language.NativeName
                    </option>
                }
            }
        </select>
    </div>
}
else if (@Model.InitGrapejs == "true")
{
    <div class="vj_language_wrapper">
        <select class="select_language">
            <option url="@Model.DefaultLanguage.URL" selected value="@Model.DefaultLanguage.NativeName">
                @Model.DefaultLanguage.NativeName
            </option>
        </select>
    </div>
}
