@inherits System.Web.WebPages.WebPage
@{
    var sidebarClass = Model.Setting.ShowUXManager ? "sidebar-open" : "settingclosebtn";
}
<div class='sidebar @sidebarClass'>
    <a id='mode-switcher'>
        <em class='fa fa-chevron-right'></em>
    </a>
    <div class='panel'>
        <div class='panelheader'>
            <div class='row m-0'>
                <div class='col-4' style='padding-left: 0;'>
                    <a class='btn blockItem settings' href='#MenuSettings' data-toggle="tooltip" data-placement="bottom" title="[LS:Menu]" onclick="document.getElementById('uxm-search').value = ''">
                        <em class='fa fa-bars'></em>
                    </a>
                    @if (Model.Setting.HasTabEditPermission)
                    {
                        <a class='btn blockItem active' href='#ContentBlocks' data-toggle="tooltip" data-placement="bottom" title="[LS:Blocks]">
                            <em class='fas fa-cubes'></em>
                        </a>
                    }
                </div>
                <div class='col-4' style='padding: 0;text-align:center;'>
                    <a class="About" onclick="@Model.Setting.AboutUrl" href="#About">
                        <img class='logoimg' src='@Model.Setting.Logo' alt='vanjaro'>
                    </a>
                </div>
                <div class='col-4 block-elements text-left' style='padding-right: 0;padding-left: 0;'>
                    <a class='btn blockItem Messages' guid='CD8C127F-DA66-4036-B107-90061361CF87' data-toggle="tooltip" data-placement="bottom" title="[LS:Notifications]">
                        <em class='fas fa-bell'></em>
                        <sup class='notifycount' id="VJnotifycount">@Model.Setting.NotificationCount</sup>
                    </a>
                    @if (Model.Setting.HasTabEditPermission && Model.Setting.HasShortcut)
                    {
                        <a class='btn Shortcut' href='#Shortcuts' data-toggle="tooltip" data-placement="bottom" title="[LS:Shortcuts]">
                            <em class='fa fa-plus'></em>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class='styletool-manager' id='StyleToolManager'>
            <div class='managetab'>
                <div class='traitstab uitab traitmanage active'>
                    <a><em class='fas fa-sliders-h'></em>[LS:Options]</a>
                </div>
                <div class='styletab uitab traitmanage'>
                    <a><em class='fa fa-paint-brush'></em>[LS:Styling]</a>
                </div>
            </div>
            <div class='ssmanager'>
                <div class='stylemanager scrollbar'></div>
                <div class='traitsmanager scrollbar'>
                    <div class="empty_msg" style="display:none;">[LS:NoOptions]</div>
                </div>
            </div>
        </div>
        <div class='block-manager' id='BlockManager'>
            <div class='Menupanel-top' style='display:none;'>
                <div class='search-block'>
                    <em class='fa fa-search'></em><input id='uxm-search' type='text' placeholder="[LS:Search]" class='form-control' /><em class="fas fa-times close-searchbtn"></em>
                </div>
            </div>
            @if (Model.Setting.HasTabEditPermission)
            {
                <div class='block-set'>
                    <div class='blockstabview'>
                        <div class='elementtab uitab blockstab active'><a><em class='fas fa-cube'></em><br />[LS:Blocks]</a></div>
                        <div class='customtab uitab blockstab'><a><em class='fas fa-box'></em><br />[LS:Custom]</a></div>
                        @if (Model.Setting.EditPage)
                        {
                            <div class='globaltab uitab blockstab'><a><em class='fas fa-globe'></em><br />[LS:Global]</a></div>
                        }
                        <div class='librarytab uitab blockstab'><a><em class='fas fa-folder'></em><br />[LS:Library]</a></div>
                    </div>
                    <div class='panel-top'>
                        <div class='search-block'>
                            <em class='fa fa-search'></em><input type='text' placeholder="[LS:Search]" class='form-control' /><em class="fas fa-times close-searchbtn"></em>
                        </div>
                    </div>
                    <div id='ContentBlocks' class='box-content scrollbar'></div>
                </div>
            }
            <div id='MenuSettings' class='box-content'>
                @Html.Raw(Model.Setting.MenuMarkUp)
                <div class='Searchresult'>
                    <ul></ul>
                </div>
            </div>
        </div>
        <div id='Notification' style='display: none;'>
            <div class='notification-set'>
                <div class='Texttab uitab notificationtab active'>
                    <a><em class='fas fa-tasks'></em>TASKS</a>
                </div>
                <div class='Messagetab uitab notificationtab'>
                    <a><em class='fas fa-comment-alt'></em>MESSAGES</a>
                </div>
            </div>
            <div class='Textblock'>@Html.Raw(Model.Setting.NotificationMarkUp)</div>
            <div class='Messageblock'></div>
        </div>
        <div id='iframeHolder'>
            <img class="loader" alt="Loading" src="@Model.Setting.LoadingImage" />
            <iframe id='iframe' src='about:blank' scrolling='no'></iframe>
        </div>
        <div id='DeviceManager' class='device-manager'>
            <a class='device-view active' id='Desktop'><em class='fa fa-desktop'></em>[LS:Desktop]<span class='previewtext'>[LS:DefaultPreview]</span></a>
            <a class='device-view' id='Tablet'><em class='fa fa-tablet'></em>[LS:Tablet]<span class='previewtext'>[LS:Preview768px]</span></a>
            <a class='device-view' id='Mobile'><em class='fa fa-mobile'></em>[LS:Mobile]<span class='previewtext'>[LS:Preview360px]</span></a>
        </div>

        @Html.Raw(Model.Setting.LanguageMarkUp)
        @if (Model.Setting.HasTabEditPermission)
        {
            <div class='panelfooter'>
                @Html.Raw(Model.Setting.ToolbarMarkUp)
                <ul class='toolmanager'>
                    <li class='publish'>
                        <a id='VJBtnPublish' class='btn btn disabled pubish-btn'>[LS:Publish]</a>
                    </li>
                </ul>
            </div>
        }
    </div>
    @if (Model.Setting.HasShortcut)
    {
        <div id='Shortcuts' class='box-content'>
            <div class='closeshortcut'>
                <a class='closeshortcutbtn'><em class='fas fa-times'></em></a>
            </div>
            @Html.Raw(Model.Setting.ShortcutMarkUp)
        </div>
    }
    <div id='About' class='box-content'>
        <div class='closeabout'>
            <a class='closeaboutbtn'><em class='fas fa-times'></em></a>
        </div>
        <img class="loader" alt="Loading" src="@Model.Setting.LoadingImage" />
        <iframe id="Aboutframe" scrolling="no" src="" style="display:none"></iframe>
    </div>
</div>
<div id='ModalContent' style='display:none;'>
    <div class='row'>
        <div class='col-6'>
            <label>[LS:Name]</label><input type='text' name='name' id='input-name' required /><label>[LS:HTML]</label>
        </div>
        <div class='col-6'>
            <label>[LS:ModalCategory]</label><input type='text' name='category' id='input-category' required /><label>[LS:CSS]</label>
        </div>
    </div>
    <div class='row'>
        <div class='col-6'>
            <textarea id='HTML'></textarea>
        </div>
        <div class='col-6'>
            <textarea id='CSS'></textarea>
        </div>
    </div>
    <hr />
    <div class='row' style='margin-top:15px;'>
        <div class='col'>
            <div class='btn-group cbglobal'>
                <button type='button' id="ToggelBlockGlobal" class='btn btn-default' onclick='ToggleBlockType(this,"yes")'>[LS:Global]</button>
                <button type='button' id="ToggelBlockLocal" class='btn btn-primary disabled' onclick='ToggleBlockType(this,"no")'>[LS:Local]</button>
            </div>
        </div>
        <div class='col'>
            <button class='btn btn-primary' type='button' id='btn-save'>[LS:Update]</button>
        </div>
    </div>
</div>
